html, body{
    font-family: 'Roboto', sans-serif;
    background-color: #e9ecef;
}
.top-container{
    /*padding-top: 10%;*/
    background-image: url('image/mainPic.png');
    background-size: cover;
    height: 100%;
    max-height: 100%;

}

.top-row{
    color:#fff;
    font-weight: 200;
    line-height: 50px;
}
