html,body{
    height: 100%;
    max-height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #edeef0;
}

.section-top{
    margin: 20px;
}

.section-top img{
    width: 100%;
    height: auto;
}

.product-item{
    height: 230px;
    background: #fff;
    border: 1px solid lightgray;
    position: relative;
    padding: 5px;
    text-align: center;
}

.add-to-card-btn{
    position: absolute;
    bottom: 15px;
    left: 50px;
}
