{% extends 'mainApp/wrapper.html' %}

{% block content %}
<div class="container top-container">
    <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <h1>Comming soon</h1>
        <h1>Leave your email</h1>
        <form class="form" method='post' action=''>
            {% csrf_token %}
            <div class="form-group">
                <label for="id_email">Your email: </label>
                <input type="email" class="form-control" name="email" value="" maxlength="254" required="" id="id_email">
            </div>
            <div class="form-group">
                <label for="id_name">Your name: </label>
                <input type="text" class="form-control" name="name" value="" maxlength="128" required="" id="id_name">
            </div>
            <input type='submit' value='Submit' id='submit' name='submit'>
        </form>
    </div>
    </div>
</div>
{% endblock  %}

