{% extends 'mainApp/wrapper.html' %}

 <link rel="stylesheet" href="{% static 'mainApp/landing.css'%}" type="text/css">


{% block content %}
<div>
<div class="container">
    <div class="row top-row">
    <div class="col-lg-8 col-lg-offset-4">
        <h1>Comming soon</h1>
        <h1>Leave your email</h1>
        <form class="form" method='post' action=''>
            {% csrf_token %}
            <div class="form-group">
                <label for="id_email">Your email: </label>
                <!--{{form.email}}-->
                <input type="email" name="{{form.email.name}}" class="form-control"
            </div>
            <div class="form-group">
                <label for="id_name">Your name: </label>
                <input type="text" name="{{form.name.name}}" class="form-control"
            </div>
            <button type='submit' class="btn btn-primary" value='' id='submit' name='submit'>Submit</button>
        </form>
    </div>
    </div>
</div>
</div>  
{% endblock  %}

